@Model List<Gamingstore.Models.Categorias>
@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>



<div id="respuestaajax">
    
</div>




<form id="newproducto" action="/Productos/AgregarProductos" method="post">

    
    <input type="text" name="producto.Nombre" placeholder="Nombre" />
    <br />
    <input type="text" name="producto.Descripcion" placeholder="Descripcion" />
    <br />
    <input type="text" name="producto.Precio" placeholder="Precio" />
    <br />
    <input type="text" name="producto.Url" placeholder="Ingrese URL de Imagen" />
    <br />
    <select>
    <option value="1" name="producto.id_categoria"></option>
    <option value="2" name="producto.id_categoria"></option>
    <option value="3" name="producto.id_categoria"></option>
    </select>
    

  
 


    <button type="submit" name="btnconsulta" onclick="AgregarProductos()"> Guardar Producto</button>




</form>





